<h1 mat-dialog-title>Crear alumno</h1>
<div class="p-3 border border-3 rounded-3 border-secondary crearAlumnoForm">
    <div mat-dialog-content>
        <form [formGroup]="formAlumno" class="example-form">
            <div class="row">
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width " appearance="fill">
                            <mat-label>Email</mat-label>
                            <input 
                            matInput formControlName="email" placeholder="Ingrese su email">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input 
                            matInput formControlName="nombre" placeholder="Ingrese un nombre">
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Apellido</mat-label>
                            <input 
                            matInput formControlName="apellido" placeholder="Ingrese apellido">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Edad</mat-label>
                            <input  
                             matInput formControlName="edad" placeholder="Ingrese una edad">
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Pais</mat-label>
                            <input  
                            matInput formControlName="pais" placeholder="Ingrese un pais">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Sexo</mat-label>
                            <input 
                            matInput formControlName="sexo" placeholder="Ingrese el tipo de genero">
                        </mat-form-field>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="clave" placeholder="Ingrese el tipo de genero">
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
        <button mat-button (click)="crearAlumno()" [disabled]="!formAlumno.valid">Crear Alumno</button>
    </div>
</div>